<!DOCTYPE html>
<html>
    <head>
        <title> View Machine Stats </title>
        <link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}" />
        <meta http-equiv="refresh" content="60">
    </head>
    <body>

        <div id="page-content">

            <h1> Machine Stats </h1>

            <div id="view-settings">
                <form action="{{ url_for('viewStats') }}" method="POST">
                    <select name="timeframe">                
                        <option value="60">60 Seconds</option>
                        <option value="600">10 Minutes</option>
                        <option value="3600">1 Hour</option>
                        <option value="86400">1 Day</option>                
                    </select>
                    <select name="viewselect">
                        <option value="cpu_mem">CPU and Memory</option>
                        <option value="temps">Temperatures</option>               
                    </select>
                    
                    <input type="submit" value="Update view">
                </form>           
            </div>

            <div id="graphs">

                {% for graph in graphs %}
                
                <h2>{{ graph.title }}</h2>

                <svg class="graph" width="{{ graph.width }}" height="{{ graph.height }}">

                {% for line in graph.lines %}

                    <text x="0" y="{{ graph.height/2 }}" fill="white"> {{ graph.max/2 }} {{ graph.unit }}</text>

                    <text
                    x="{{ graph.width - (graph.width/5) }}"
                    y="{{ graph.height/2 }}"
                    style="fill:white;stroke:white;"                    
                    >    
                        {{ graph.last_value }} {{ graph.unit }}
                    </text>

                    {% if line.y2 %} 

                        <line
                            x1="{{ line.x1 }}"
                            y1="{{ line.y1 }}"
                            x2="{{ line.x2 }}"
                            y2="{{ line.y2 }}"
                            style="stroke:green;stroke-width:2"
                        />

                    {% else %}

                        <rect
                            x="{{ line.x1 }}"
                            width="{{ graph.segment_width }}"
                            height="{{ graph.height }}"
                            style="fill:red;stroke:red;stroke-weight:1"
                        />

                    {% endif %}

                {% endfor %}

                </svg>

                {% endfor %}

            </div>

            {% for table in tables %}

                <h2>{{ table.title }}</h2>

                <table>

                    {% for label, value in table.entries.items() %}

                        <tr>
                            <td>{{ label }}</td>
                            <td>{{ value }} {{ table.unit }}</td>
                        </tr>

                    {% endfor %}
                    
                </table>
            
            {% endfor %}

        </div>
        
    </body>
</html>