<!DOCTYPE html>
<html>
    <head>
        <title> View Machine Stats </title>
        <link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}" />
        <meta http-equiv="refresh" content="60">
    </head>
    <body>
        <div id="page-content">

            <h1> Machine Stats </h1>

            <p id="settings-heading"> Settings </p>
            <div id="view-settings">
                <form name="settings-form" action="{{ url_for('viewStats') }}" method="POST">

                    <label for="timeframe-select">Timeframe viewed in Graphs:</label>
                    <select id="timeframe-select" class="view-select" name="timeframe">
                        <option value="60" {% if timeframe==60 %} selected {% endif %}>60 Seconds</option>
                        <option value="600" {% if timeframe==600 %} selected {% endif %}>10 Minutes</option>
                        <option value="3600" {% if timeframe==3600 %} selected {% endif %}>1 Hour</option>
                        <option value="86400" {% if timeframe==86400 %} selected {% endif %}>1 Day</option>
                    </select>

                    <label for="view-select">What data to view in Graphs:</label>
                    <select id="view-select" class="view-select" name="viewselect">
                        <option value="cpu_mem" {% if viewselect=="cpu_mem" %} selected {% endif %}>CPU and Memory usage</option>
                        <option value="temps" {% if viewselect=="temps" %} selected {% endif %}>Temperatures</option>
                    </select>

                    <label for="res-input">Graph resolution: (number of lines per graph)</label>
                    <input
                        type="number"
                        min="100"
                        max="2000"
                        step="100"
                        value="{{ resolution }}"
                        id="res-input"
                        name="resolution">

                    <input type="submit" value="Update view">
                </form>
                <script src="{{url_for('static',filename='script.js')}}"></script>
            </div>

            <div id="graphs">

                {% for graph in graphs %}

                <h2>{{ graph.title }}</h2>

                <svg class="graph" width="{{ graph.width }}" height="{{ graph.height }}">

                {% for line in graph.lines %}

                    <text x="0" y="{{ graph.height/2 - 20 }}" fill="white"> {{ graph.max/2 }} {{ graph.unit }}</text>

                    <text
                    x="{{ graph.width - (graph.width/5) }}"
                    y="50"
                    style="fill:white;stroke:white;"
                    >
                        {{ graph.last_value }} {{ graph.unit }}
                    </text>

                    <line
                        x1="0"
                        y1="{{ graph.height/2 }}"
                        x2="20"
                        y2="{{ graph.height/2 }}"
                        style="stroke:white;stroke-width:2;"
                    />

                    <text
                        x="{{ graph.width/2 }}"
                        y="{{ graph.height - 20}}"
                        style="fill:white;stroke:white;"
                    >
                        {{ timeframe/2 }} s
                    </text>
                    <text
                        x="{{ graph.width/4 }}"
                        y="{{ graph.height - 20}}"
                        style="fill:white;stroke:white;"
                    >
                        {{ timeframe*0.75 }} s
                    </text>
                    <text
                        x="{{ graph.width*0.75 }}"
                        y="{{ graph.height - 20}}"
                        style="fill:white;stroke:white;"
                    >
                        {{ timeframe/4 }} s
                    </text>

                    <line
                        x1="{{ graph.width/2 }}"
                        y1="{{ graph.height }}"
                        x2="{{ graph.width/2 }}"
                        y2="{{ graph.height - 20 }}"
                        style="stroke:white;stroke-width:2;"
                    />
                    <line
                        x1="{{ graph.width/4 }}"
                        y1="{{ graph.height }}"
                        x2="{{ graph.width/4 }}"
                        y2="{{ graph.height - 20 }}"
                        style="stroke:white;stroke-width:2;"
                    />
                    <line
                        x1="{{ graph.width*0.75 }}"
                        y1="{{ graph.height }}"
                        x2="{{ graph.width*0.75 }}"
                        y2="{{ graph.height - 20 }}"
                        style="stroke:white;stroke-width:2;"
                    />

                    {% if line.y2 %}

                        <line
                            x1="{{ line.x1 }}"
                            y1="{{ line.y1 }}"
                            x2="{{ line.x2 }}"
                            y2="{{ line.y2 }}"
                            style="stroke:green;stroke-width:2"
                        />

                    {% else %}

                        <rect
                            x="{{ line.x1 }}"
                            width="{{ graph.segment_width }}"
                            height="{{ graph.height }}"
                            style="fill:red;stroke:red;stroke-weight:1"
                        />

                    {% endif %}

                {% endfor %}

                </svg>

                {% endfor %}

            </div>

            {% for table in tables %}

                <h2>{{ table.title }}</h2>

                <table>

                    {% for label, value in table.entries.items() %}

                        <tr>
                            <td>{{ label }}</td>
                            <td>{{ value }} {{ table.unit }}</td>
                        </tr>

                    {% endfor %}

                </table>

            {% endfor %}

        </div>

    </body>
</html>