body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#page-content {
    margin: auto;
}

.graph {
    border: 2px solid white;
}

#graphs {
    margin-bottom: 32px;
}

.graph-title {
    display: block;
    min-width: 100px;
    min-height: 20px;
}

#view-settings {
    padding: 8px;
    min-width: 200px;
}
#view-settings * {
    margin: 8px;
}
#view-settings input[type="submit"] {
    background-color: black;
    color: white;
    padding: 8px;
}

.view-select {
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
}