body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#page-content {
    margin: auto;
}

.graph {
    border: 2px solid white;
}

.graph-title {
    display: block;
    min-width: 100px;
    min-height: 20px;
}

#view-settings {
    margin: 16px;
}