<!DOCTYPE html>
<html>
    <head>
        <title> View Machine Stats </title>
    </head>
    <body>
        <h1> Machine Stats </h1>
        <table>
            <tr>
                <td>CPU percentage</td>
                <td>{{ cpu_percent }} %</td>
            </tr>
            <tr>
                <td>Memory used ({{ mem_unit }})</td>
                <td>{{ mem_used }}</td>
            </tr>
            <tr>
                <td>Memory total ({{ mem_unit }})</td>
                <td>{{ mem_total }}</td>
            </tr>
            <tr>
                <td>Memory free ({{ mem_unit }})</td>
                <td>{{ mem_free }}</td>
            </tr>
        </table>
    </body>
</html>